<% if @restaurants.any? %>

  <% @restaurants.each do |restaurant| %>

    <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
    <h2><%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %></h2>
    <h2><%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete %></h2>

    <% if restaurant.reviews.any? %>
    <ul>
      <% restaurant.reviews.all.each do |review| %>
      <li>
        <%= review.thoughts %> <%= review.rating %>
        <%= link_to "Endorse Review", review_endorsements_path(review), class: 'endorsements-link' %>
        <span class="endorsements_count"> <%= review.endorsements.count %> </span> <%= 'endorsement'.pluralize(review.endorsements.count) %>
      </li>
        <% end %>
    </ul>
    <% end %>

    <% if current_user %>
      <% unless current_user.has_reviewed?(restaurant) %>
        <%= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant) %>
      <% end %>
    <% end %>

  <% end %>

<% else %>
  <h1>No restaurants yet</h1>
<% end %>

<% if user_signed_in? %>
  <%= link_to "Add a restaurant", new_restaurant_path %>
<% end %>
